<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2021. Shining-cat - Shiva Bernhard
  ~ This file is part of Everyday.
  ~
  ~     Everyday is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, version 3 of the License.
  ~
  ~     Everyday is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with Everyday.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.shining_cat.everyday">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <!--    set allowBackup to false because of exploit possibility through backup/export feature-->
    <application
        android:name=".EverydayApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EveryDay">
        <activity
            android:name="fr.shining_cat.everyday.app.views.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.shining_cat.everyday.screens.views.ScreenActivity"
            android:screenOrientation="sensorPortrait"
            android:exported="false">
            <intent-filter>
                <action android:name="fr.shining_cat.everyday.screens.views.ScreenActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="fr.shining_cat.everyday.settings.views.SettingsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="fr.shining_cat.everyday.settings.views.SettingsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="fr.shining_cat.everyday.session.views.SessionActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="fr.shining_cat.everyday.session.views.SessionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>